/* Error: expected "{".
 *   ,
 * 5 |     --black2-color: #191919;
 *   |                            ^
 *   '
 *   variables\color.scss 5:28  @import
 *   style.scss 2:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 5 \2502      --black2-color: #191919;\d\a   \2502                             ^\a   \2575 \a   variables\\color.scss 5:28  @import\a   style.scss 2:9             root stylesheet';
}
