.header {
    padding-top: 20rem;
    background: var(--black-color);

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 22rem;

            &__info {
                display: flex;
                gap: 28rem;

                &__numbers {
                    display: flex;
                    gap: 28rem;

                    &-number {
                        font: var(--contact-text-font);
                        color: var(--light-green-color);
                    }
                }
            }

            &__info-text {
                font: var(--contact-text-font);
                color: var(--white-color);
            }

            &__links {
                display: flex;
                gap: 10rem;

                &__link {
                    text-decoration: none;
                }
            }
        }

        &__layout {
            max-width: 1680rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;

        }

        &__layout-nav {
            display: flex;

            &__nav {
                display: flex;
                justify-content: space-between;
                align-content: center;
                gap: 32rem;

                &__link {
                    font: var(--nav-font);
                    color: var(--white-color);
                    text-decoration: none;
                    letter-spacing: 0.24rem;
                }
            }
        }

        &__line {
            height: 1rem;
            background-color: var(--light-green-color);
            width: 1920rem;
            margin-bottom: 46rem;
        }
    }
}