* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.heading {
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: left;
    max-width: 450px;
    gap: 20px;
    position: absolute;
    top: 30%;
    left: 80px;
}

.earth {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 80px;
    right: 30px;
    z-index: 1;
}

.cursor {
    width: 219px;
    height: 400px;
    position: absolute;
    top: 190px;
    right: 400px;
    z-index: 2;
}

.doodle1 {
    width: 124px;
    height: 124px;
    position: absolute;
    bottom: 1px;
    left: 34%;
    z-index: 3;
    transform: rotate(15deg);
}

.doodle2 {
    width: 124px;
    height: 124px;
    position: absolute;
    top: 40%;
    left: 38%;
    z-index: 3;
}

.doodle3 {
    width: 124px;
    height: 124px;
    position: absolute;
    top: 6%;
    left: 36%;
    z-index: 3;
}

.heading__title {
    color: white;
    font-size: 50px;
}

.heading__text {
    color: white;
    font-size: 20px;
}

.button {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 46px;
    padding: 13px 25px;
    border-radius: 20px;
    border: 2px solid blueviolet;
}