:root {
    --orange-color: #E4BD34;
    --black-color: #020202;
    --black2-color: #191919;
    --dark-grey-color: #1E1E1E;
    --white-color: #FFFFFF;
    --light-green-color: #8DCD43;
    --ashen-white-color: #E3E3E3;
}